.material-icons {
    color: #ffffff;
}

/* .map {
    max-width: 100%;
} */

.tall {
    height: auto !important;
}

.byebye {
    margin-bottom: -10px !important;
    /* height: auto !important;
    width: 100% !important; */
}

#map {
    width: 100% !important;
    height: 550px !important;
}

.wide {
    width: 100% !important;
}

