.material-icons {
    color: #ffffff;
}

.tall {
    height: auto !important;
}


.byebye {
    margin-bottom: -10px !important;
    /* height: auto !important;
    width: 100% !important; */
}

#map {
    width: 100% !important;
    height: 550px !important;
}

.wide {
    width: 100% !important;
}

.d-text {
    color: #333;
}