.material-icons {
    color: #ffffff;
}

.map {
    max-width: 100%;
}

.tall {
    height: auto !important;
}

.byebye {
    margin-bottom: -10px !important;
}

#map-canvas {
    height: 1000px !important;
    width: 1000px !important;
}